*{
      background-color: gray;
      color: white;
      font-family: 'Courier New', sans-serif;      
    }
    
    h1{
      font-family: helvetica, sans-serif;
    }

    .first-skill{
      font-size: 20px;
    }

    .second-skill{
      font-size: 18px;
    }

    .third-skill{
      font-size: 16px;
    }

    .fourth-skill{
      font-size: 14px;
    }

    .locals-live{
      font-style: italic;
    }

    #name {
        text-align: center;
    }

    #description {
        display: inline-block;
        max-width: 80%;
      }

    #image {
        float: left;
        margin: 20px;
        background-color: white;
        padding: 5px;
        border-radius: 50%;
    }

    #description-left {
        padding: 20px;
        float: right;
        margin-top: 3%;
        max-width: 70%;
    }

    #ability li {
        padding-bottom: 10px;
    }

    #ability li:nth-child(even) {
        font-style: italic;
    }

    img {
      border-radius: 50%;
      vertical-align: middle;
    }

    #description-left p {
      max-width: 80%;
    }