*{
    background-color: gray;
    color: white;
    font-family: 'Courier New', sans-serif;      
  }
  
  h1{
    font-family: helvetica, sans-serif;
  }

  .first-skill{
    font-size: 20px;
  }

  .second-skill{
    font-size: 18px;
  }

  .third-skill{
    font-size: 16px;
  }

  .fourth-skill{
    font-size: 14px;
  }

  .locals-live{
    font-style: italic;
  }